.article
  label#btn-todo.btn.btn-primary.btn-xs
    input(type='file', ng-model='vm.fileInput', name='file', base-sixty-four-input='', required='', maxsize='500', accept='image/*')
    i.fa.fa-cloud-upload
    |   Escolher imagem
  |  {{vm.fileInput.filename}}
  //- button(ng-click="vm.sendFile(vm.fileInput);")#btn-todo.btn.btn-primary.btn-xs enviar
