.section
  .article
    input(type='file', ng-model='vm.fileInput', name='file', base-sixty-four-input='', required='', onload='onLoad', maxsize='500', accept='image/*')
    button(ng-click="sendFile(vm.fileInput);")#btn-todo.btn.btn-primary.btn-md enviar
