.section
  .modal-header
  .modal-body
    .form-group.row
      .col-md-5
        label Código:
        label {{modalCtrl.institutionDetails.code}}
      .col-md-7
        label CNPJ:
        label {{modalCtrl.institutionDetails.cnpj}}
    .form-group.row
      .col-md-5
        label Razão Social:
        label {{modalCtrl.institutionDetails.company}}
      .col-md-7
        label Cidade:
        label {{modalCtrl.institutionDetails.city}}
    .form-group.row(ng-repeat="mentor in modalCtrl.institutionDetails.mentors track by mentor.id")
      .col-md-5
        label Mentor:
        label {{mentor.name}}
      .col-md-7
        label E-mail:
        label {{mentor.username}}
    table.table.table-striped
      thead
        tr.table-thead
          th Codigo
          th Curso
          th Periodo
      tbody
        tr(ng-repeat="course in modalCtrl.institutionDetails.courses track by course.id")
          td {{course.code}}
          td {{course.name}}
          td {{course.period}}    
  .modal-footer
    button#btn-todo.btn.btn-default.btn-md(ng-click="modalCtrl.closeModal()") fechar
