section
  label#btn-todo.btn.btn-primary.btn-md.botton-new(ng-click="insCtrl.openEditModal(null)") novo
  label#btn-todo.btn.btn-primary.btn-md.botton-new(ng-click="insCtrl.openFileModal()")
    i.fa.fa-file-excel-o.ico-sidebar
    | importar excel
  table.table.table-hover.table-striped
    thead
      tr.table-thead
        th(ng-repeat="head in insCtrl.tableHead") {{head}}
    tbody
      tr(ng-repeat="institution in insCtrl.allInstitutions track by institution.id")
        td(style="text-align: center") {{institution.code}}
        td {{institution.cnpj}}
        td {{institution.company}}
        td {{institution.city}}
        td
          label#btn-todo.btn.btn-info.btn-xs(ng-click="insCtrl.openDetailsModal(institution)") detalhes
          label#btn-todo.btn.btn-info.btn-xs(ng-click="insCtrl.openEditModal(institution)") editar
