section
  .row
    .col-xs-12.xs-space-between
      button.btn.btn-primary(ng-click="insCtrl.newInstitution()") novo
      button.btn.btn-primary(ng-click="insCtrl.openFileModal()")
        i.fa.fa-file-excel-o.ico-sidebar
        | importar excel
  #main-area.row.main-area
    .col-sm-6.col-md-3(ng-repeat="institution in insCtrl.allInstitutions track by institution.id")
      .thumbnail.card(style="min-height: 100%; height: unset;")
        .text
          h5(ng-bind="institution.code")
        .text.border-top-bottom(style="min-height: 61px")
          h5(ng-bind="institution.company")
        div.space-between(style="padding: 5px;")
          label.btn.btn-info.btn-xs(ng-click="insCtrl.openDetailsModal(institution)") detalhes
          label.btn.btn-info.btn-xs(ng-click="insCtrl.updateInstitution(institution)") editar
