
<section>
  <div class="modal-header"></div>
  <div class="modal-body">
    <form name="sceneForm">
      <div class="form-group row">
        <div class="col-md-12">
          <label>Texto:</label>
          <textarea style="width: 100%" rows="5" placeholder="Descreva aqui..." ng-model="modalCtrl.scene.text" name="text" required></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <div class="input-group">
            <label uib-popover="{{'UPLOAD_IMAGE_MESSAGE' | translate}}" popover-placement="bottom-left" popover-trigger="'mouseenter'" class="btn btn-primary btn-xs">
              <input type="file" ng-model="modalCtrl.scene.background" name="file" base-sixty-four-input="" maxsize="500" accept="image/*"><span aria-hidden="true" class="fa fa-cloud-upload"></span><span style="margin-left: 5px">escolher imagem</span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12"><span ng-bind="modalCtrl.scene.background.filename"></span></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button ng-disabled="!sceneForm.$valid" ng-click="modalCtrl.saveScene(modalCtrl.scene)" class="btn btn-primary">salvar</button>
    <button ng-click="modalCtrl.closeModal()" class="btn btn-default">cancelar</button>
  </div>
</section>