section
  .row
    .col-xs-12
      button.btn.btn-primary(ng-click="skiCtrl.openModal()") novo
  #main-area.row.main-area
    .col-xs-12.col-sm-6.col-md-4.col-lg-3(ng-repeat="skill in skiCtrl.allSkills track by skill.id")
      .panel.panel-default
        .panel-heading {{skill.name}}
        .panel-body.panel-auto(style="min-height: 150px", ng-if="skill.description.length > 150") {{skill.description | limitTo:150}} ...
        .panel-body.panel-auto(style="min-height: 150px", ng-if="skill.description.length <= 150") {{skill.description}}
        .panel-footer
          label.btn.btn-info.btn-xs(ng-click="skiCtrl.openModal(skill)") editar
