
<div class="row flex-direction">
  <div class="visible-xs-block">
    <div class="col-xs-12">
      <div class="input-group"><span class="input-group-addon">De</span>
        <input type="month" ng-model="startDate" class="form-control">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="input-group"><span class="input-group-addon">Até</span>
        <input type="month" ng-model="endDate" class="form-control">
      </div>
    </div>
    <div class="col-xs-12">
      <label ng-click="search()" class="btn btn-primary"><i class="fa fa-search ico-sidebar"></i>pesquisar</label>
    </div>
  </div>
  <div class="hidden-xs">
    <div style="margin-top: 10px" class="col-sm-12">
      <div class="input-group"><span class="input-group-addon">De</span>
        <input type="month" ng-model="startDate" class="form-control"><span class="input-group-addon">Até</span>
        <input type="month" ng-model="endDate" class="form-control"><span ng-click="search()" class="input-group-btn">
          <button type="button" class="btn btn-primary"><i class="fa fa-search ico-sidebar"></i></button></span>
      </div>
    </div>
  </div>
</div>