section
  .row
    .col-xs-12.xs-space-between
      button.btn.btn-primary(ng-click="stuCtrl.openStudentModal()")
        i.fa.fa-user-plus.ico-sidebar
        | novo

      button.btn.btn-primary(ng-click="stuCtrl.openFileModal()")
        i.fa.fa-file-excel-o.ico-sidebar
        | importar excel

  table#students-table.table.table-hover.table-striped
    thead.table-thead
      tr
        th
          input.form-control(type='text', ng-model="stuCtrl.filter.name", placeholder="Nome")
        th
          input.form-control(type='number', ng-model="stuCtrl.filter.ra", placeholder="RA")
        th
          select.form-control(ng-model="stuCtrl.filter.course"
                              , ng-options="course.name for course in stuCtrl.allCourses track by course.id")
            option(value='') -- Selecione um curso --
        th
        th
          label.btn.btn-info(ng-click="stuCtrl.search()")
            i.fa.fa-search.ico-sidebar
            | pesquisar
        th
      tr
        th(ng-style="header.width", ng-repeat="header in stuCtrl.tableHeader")
          label(ng-bind="::header.label")
        th
        th
    tbody.tbody-scroll(lazy-load="stuCtrl.loadMoreStudents()")
      tr.tr-scroll(ng-repeat="student in stuCtrl.students track by student.id")
        td.text-ellipsis(style="width: 30%") {{student.name}}
        td(style="width: 15%") {{student.ra}}
        td(style="width: 35%") {{student.course.name}}
        td(style="width: 10%", ng-if="student.completed").check-ok
          i.fa.fa-check-circle
        td(style="width: 10%", ng-if="!student.completed").check-not-ok
          i.fa.fa-minus-circle
        td(style="width: 15%")
          label.btn.btn-info.btn-xs(ng-click="stuCtrl.openDetailsModal(student)", style="margin: 2.5px") detalhes
          label.btn.btn-info.btn-xs(ng-click="stuCtrl.openStudentModal(student)", style="margin: 2.5px") editar
