
<div class="section">
  <div class="modal-header"></div>
  <div class="modal-body">
    <div class="form-group row">
      <div class="col-md-5">
        <label>Código:</label>
        <label>{{modalCtrl.institutionDetails.code}}</label>
      </div>
      <div class="col-md-7">
        <label>CNPJ:</label>
        <label>{{modalCtrl.institutionDetails.cnpj}}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-5">
        <label>Razão Social:</label>
        <label>{{modalCtrl.institutionDetails.company}}</label>
      </div>
      <div class="col-md-7">
        <label>Cidade:</label>
        <label>{{modalCtrl.institutionDetails.city}}</label>
      </div>
    </div>
    <div ng-repeat="mentor in modalCtrl.institutionDetails.mentors track by mentor.id" class="form-group row">
      <div class="col-md-5">
        <label>Mentor:</label>
        <label>{{mentor.name}}</label>
      </div>
      <div class="col-md-7">
        <label>E-mail:</label>
        <label>{{mentor.username}}</label>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr class="table-thead">
          <th>Codigo</th>
          <th>Curso</th>
          <th>Periodo</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="course in modalCtrl.institutionDetails.courses track by course.id">
          <td>{{course.code}}</td>
          <td>{{course.name}}</td>
          <td>{{course.period | translate}}    </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button id="btn-todo" ng-click="modalCtrl.closeModal()" class="btn btn-default btn-md">fechar</button>
  </div>
</div>