audio#over
  source(src='../../../assets/audio/button-40.wav')
  source(src='../../../assets/audio/button-40.mp3')
#tela(ng-style="{'background-image':'url({{studentCtrl.history[1].background}})'}")
  //#infobox.infoclose(ng-mouseover='vm.infoout();')
  //  #left
  //    | Nome:
  //    #nome Você
  //    | 			Ranking:
  //    #ranking  x/40
  //    | 			Recursos:
  //    #recurso  R$ ???,00
  #options.optionclose(ng-show='studentCtrl.history[1].question != null')
    #op1.op(ng-repeat="alternative in studentCtrl.history[1].question.alternatives", ng-mouseover='studentCtrl.playhover();', ng-click="studentCtrl.sendAnswer(null, alternative, null);") {{alternative.description}}

  .textbox
    .whotalks
    //realizar commit aqui...
    #texto(ng-show="studentCtrl.history[1].question != null") {{studentCtrl.history[1].question.description}} y
    #texto(ng-hide="studentCtrl.history[1].question != null") {{studentCtrl.history[1].text}} y
  #prosseguir(class='inactive', ng-click='studentCtrl.openOptions();')
  //.info(ng-mouseover='studentCtrl.playhover();studentCtrl.info();', ng-mouseleave='studentCtrl.infoout();') info
