audio#over
  source(src='../../../assets/audio/button-40.wav')
  source(src='../../../assets/audio/button-40.mp3')
#tela(ng-style="studentCtrl.myStyle")
  //#infobox.infoclose(ng-mouseover='vm.infoout();')
  //  #left
  //    | Nome:
  //    #nome Você
  //    | 			Ranking:
  //    #ranking  x/40
  //    | 			Recursos:
  //    #recurso  R$ ???,00
  #options.optionclose(ng-show='studentCtrl.history[studentCtrl.index].question != null')
    .op(ng-repeat="alternative in studentCtrl.history[studentCtrl.index].question.alternatives track by $index", ng-mouseover='studentCtrl.playhover();', ng-click="studentCtrl.sendAnswer(null, alternative, null);")
     {{alternative.description}}

  .textbox
    .whotalks

    #texto {{studentCtrl.history[studentCtrl.index].text}}
  #prosseguir(ng-class="studentCtrl.active", ng-click='studentCtrl.nextScene();')
  //.info(ng-mouseover='studentCtrl.playhover();studentCtrl.info();', ng-mouseleave='studentCtrl.infoout();') info
