#relat.container
  h3 Competências
  article#chart.row
    section.col-lg-12
      canvas#radarChart(style="width:400px; height:400px").chart
  br
  | Este é um trabalho acadêmico desenvolvido pelo Centro Paula Souza em fase de validação
  br
  | Os resultados não substituem o trabalho de um profissional especializado na área
  br
  | O objetivo do resultado é proporcionar uma reflexão sobre as competências comportamentais avaliadas
  br
  br
  h3  Tabela de resultados 
