.container
  .col-lg-12
    .panel.panel-default
      .panel-heading Relatório
      .panel-body.full-height
        .col-xs-12.col-sm-12.col-md-12.col-lg-6
          canvas#radar.chart.chart-radar(chart-data="resultCtrl.data", chart-options="resultCtrl.options", chart-labels="resultCtrl.labels", chart-series="resultCtrl.series")
        .col-xs-12.col-sm-12.col-md-12.col-lg-6
          .row
            .col-xs-6.col-lg-4
              label Competência
            .col-xs-6.col-lg-8
              label Descrição
          .row(ng-repeat="skill in resultCtrl.skills").border-report
            .col-xs-12.col-lg-4
              p(ng-bind="::skill.name")
            .col-xs-12.col-lg-8
              p(ng-bind="::skill.description")
      .panel-footer
        br
        h5 Este é um trabalho acadêmico desenvolvido pelo Centro Paula Souza em fase de validação.
        h5 Os resultados não substituem o trabalho de um profissional especializado na área.
        h5 O objetivo do resultado é proporcionar uma reflexão sobre as competências comportamentais avaliadas.
