
<section>
  <date-range-filter start-date="institutionCtrl.filter.startDate" end-date="institutionCtrl.filter.endDate" search="institutionCtrl.search()"></date-range-filter>
  <div id="dashboard" ng-if="institutionCtrl.institutions.length &gt; 0" class="row main-area">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">{{ ::institutionCtrl.institution.label }}</div>
        <div class="panel-body full-height">
          <canvas id="base" chart-data="institutionCtrl.data" chart-labels="institutionCtrl.codes" chart-series="institutionCtrl.series" chart-options="institutionCtrl.options" class="chart-horizontal-bar"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">Legenda</div>
        <div class="panel-body full-height">
          <h5 ng-repeat="institution in institutionCtrl.institutions">{{ ::institution.code }} - {{ ::institution.company }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="institutionCtrl.institutions.length == 0" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="alert alert-info">
        <h4>Nenhum resultado encontrado.</h4>
      </div>
    </div>
  </div>
</section>