
<section>
  <div class="panel panel-default">
    <div class="panel-heading">{{adminProfileCtrl.user.profile}}</div>
    <div style="display: flex;" class="panel-body panel-auto">
      <div class="col-md-3 aligner"><i aria-hidden="true" style="font-size: 3em;" class="fa fa-address-card"></i></div>
      <div class="col-md-9">
        <h3>{{adminProfileCtrl.user.name}}</h3>
        <h4>{{adminProfileCtrl.user.username}}</h4>
      </div>
    </div>
    <div class="panel-footer"> </div>
  </div>
</section>