.section
  .modal-header
  .modal-body
    form(name="skillForm")
      .form-group.row
        .col-md-12
          .input-group
            span.input-group-addon Tipo
            input.form-control(type='text', ng-model="modalCtrl.skill.name", name="name", required)
      .form-group.row
        .col-md-12
          label Descrição:
          textarea(style="width: 100%;", rows='5', placeholder='Descreva aqui...', ng-model="modalCtrl.skill.description", name="description", required)
  .modal-footer
    button.btn.btn-primary.btn-md(ng-disabled="!skillForm.$valid", ng-click="modalCtrl.saveSkill(modalCtrl.skill)") salvar
    button.btn.btn-default.btn-md(ng-click="modalCtrl.closeModal()") cancelar
