
<section>
  <div class="row">
    <div class="col-xs-12 xs-space-between">
      <button ng-click="stuCtrl.openStudentModal()" class="btn btn-primary"><i class="fa fa-user-plus ico-sidebar"></i>novo</button>
      <button ng-click="stuCtrl.openFileModal()" class="btn btn-primary"><i class="fa fa-file-excel-o ico-sidebar"></i>importar excel</button>
    </div>
  </div>
  <table id="students-table" class="table table-hover table-striped">
    <thead class="table-thead">
      <tr>
        <th>
          <input type="text" ng-model="stuCtrl.filter.name" placeholder="Nome" class="form-control">
        </th>
        <th>
          <input type="number" ng-model="stuCtrl.filter.ra" placeholder="RA" class="form-control">
        </th>
        <th>
          <select ng-model="stuCtrl.filter.course" ng-options="course.name for course in stuCtrl.allCourses track by course.id" class="form-control">
            <option value="">-- Selecione um curso --</option>
          </select>
        </th>
        <th></th>
        <th>
          <label ng-click="stuCtrl.search()" class="btn btn-info"><i class="fa fa-search ico-sidebar"></i>pesquisar</label>
        </th>
        <th></th>
      </tr>
      <tr>
        <th ng-style="header.width" ng-repeat="header in stuCtrl.tableHeader">
          <label ng-bind="::header.label"></label>
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody lazy-load="stuCtrl.loadMoreStudents()" class="tbody-scroll">
      <tr ng-repeat="student in stuCtrl.students track by student.id" class="tr-scroll">
        <td style="width: 30%" class="text-ellipsis">{{student.name}}</td>
        <td style="width: 15%">{{student.ra}}</td>
        <td style="width: 35%">{{student.course.name}}</td>
        <td style="width: 10%" ng-if="student.completed" class="check-ok"><i class="fa fa-check-circle"></i></td>
        <td style="width: 10%" ng-if="!student.completed" class="check-not-ok"><i class="fa fa-minus-circle"></i></td>
        <td style="width: 15%">
          <label ng-click="stuCtrl.openDetailsModal(student)" style="margin: 2.5px" class="btn btn-info btn-xs">detalhes</label>
          <label ng-click="stuCtrl.openStudentModal(student)" style="margin: 2.5px" class="btn btn-info btn-xs">editar</label>
        </td>
      </tr>
    </tbody>
  </table>
</section>