section
  label#btn-todo.btn.btn-success.btn-md.botton-new(ng-click="scnCtrl.openSceneModal()") novo
  table.table.table-hover
    thead
      tr
        th Texto
        th imagem
        th Questão
        th Ação
    tbody
      tr(ng-repeat="scene in scnCtrl.allScenes")
        td {{scene.text}}
        td {{scene.background.substring(15)}}
        td 
          label#btn-todo.btn.btn-primary.btn-xs(ng-show="!scene.question", ng-click="scnCtrl.openQuestionModal()") adiconar
          label#btn-todo.btn.btn-info.btn-xs(ng-show="scene.question", ng-click="scnCtrl.openQuestionModal(scene.question)") editar
          label#btn-todo.btn.btn-info.btn-xs(ng-show="scene.question", ng-click="scnCtrl.deleteQuestion(scene.question.id)") excluir
        td
          button#btn-todo.btn.btn-info.btn-xs editar
          button#btn-todo.btn.btn-default.btn-xs excluir
