section
  .modal-header
  .modal-body
    .form-group.row
      .col-xs-12.col-md-3
        .input-group
          span.input-group-addon Código
          input.form-control(ng-model="::modalCtrl.institution.code", readonly)
      .col-xs-12.col-md-9
        .input-group
          span.input-group-addon Razão Social
          input.form-control(ng-model="::modalCtrl.institution.company", readonly)
      .col-xs-12.col-md-5
        .input-group
          span.input-group-addon CNPJ
          input.form-control(ng-model="::modalCtrl.institution.cnpj", ui-mask="99.999.999/9999-99", readonly)
      .col-xs-12.col-md-7
        .input-group
          span.input-group-addon Cidade
          input.form-control(ng-model="::modalCtrl.institution.city", readonly)
    .row
      hr
      .col-xs-12
        label Mentores
    .form-group(ng-repeat="mentor in modalCtrl.institution.mentors track by mentor.id")
      .row
        .col-xs-12.col-md-12.col-lg-6
          .input-group
            span.input-group-addon Nome:
            input.form-control(ng-model="::mentor.name", readonly)
        .col-xs-12.col-md-12.col-lg-6
          .input-group
            span.input-group-addon E-mail:
            input.form-control(ng-model="::mentor.username", readonly)
    table.table.table-striped
      thead
        tr.table-thead
          th Codigo
          th Curso
          th Periodo
      tbody
        tr(ng-repeat="course in modalCtrl.institution.courses track by course.id")
          td {{::course.code}}
          td(style="text-align: left") {{::course.name}}
          td {{::course.period | translate}}    
  .modal-footer
    button.btn.btn-default.btn-md(ng-click="modalCtrl.closeModal()") fechar
