section
  .modal-header
  .modal-body
    form(name="institutionForm")
      .form-group.row
        .col-xs-12.col-md-12.col-lg-6
          .input-group
            span.input-group-addon Código
            input.form-control(type='text', ng-model="modalCtrl.institution.code", maxlength="3", name="code", required)
        .col-xs-12.col-md-12.col-lg-6
          .input-group
            span.input-group-addon CNPJ
            input.form-control(type='text', ng-model="modalCtrl.institution.cnpj", ui-mask="99.999.999/9999-99", ui-mask-placeholder, name="cnpj", required)
        .col-xs-12
          .input-group
            span.input-group-addon Razão Social
            input.form-control(type='text', ng-model="modalCtrl.institution.company", name="company", required)
        .col-xs-12.col-md-12.col-lg-6
          .input-group
            span.input-group-addon Nível
            select.form-control(ng-model="modalCtrl.institution.level"
                                , ng-options="level | translate for level in modalCtrl.allLevels"
                                , name="level", required)
              option(value='') -- selecione um nível --
            
        .col-xs-12.col-md-12.col-lg-6
          .input-group
            span.input-group-addon Cidade
            input.form-control(type='text', ng-model="modalCtrl.institution.city", name="city", required)
      .row
        hr
        .col-xs-12
          label Mentores
      .form-group(ng-repeat="mentor in modalCtrl.institution.mentors track by mentor.id")
        .row
          .col-xs-12.col-md-12.col-lg-6
            .input-group
              span.input-group-addon Nome
              input.form-control(type='text', ng-model="mentor.name", name="name", required)
          .col-xs-12.col-md-12.col-lg-6
            .input-group
              span.input-group-addon E-mail
              input.form-control(type='email', ng-model="mentor.username", name="username", required)
          .col-sm-12
            .input-group
              span.input-group-addon Senha
              input.form-control(type='{{ modalCtrl.showPassword[modalCtrl.checkboxPassword] }}', ng-model="mentor.password", placeholder="nova senha", name="password")
              span.input-group-btn
                button.btn.btn-default(ng-click='modalCtrl.checkboxPassword = !modalCtrl.checkboxPassword')
                  i.fa.fa-eye
                button.btn.btn-primary(ng-disabled="mentor.password == null", ng-click="modalCtrl.updatePassword(mentor)") salvar
          
  .modal-footer
    button.btn.btn-primary(ng-disabled="!institutionForm.$valid", ng-click="modalCtrl.saveInstitution(modalCtrl.institution)") salvar
    button.btn.btn-default(ng-click="modalCtrl.closeModal()") cancelar
