.section
  .modal-header
  .modal-body
    .form-group.row
      .col-md-12
        label Código:
        input.form-control(type='text', ng-model="modalCtrl.institution.code", maxlength="3")
    .form-group.row
      .col-md-12
        label CNPJ:
        input.form-control(type='text', ng-model="modalCtrl.institution.cnpj", maxlength="14")
    .form-group.row
      .col-md-12
        label Razão Social:
        input.form-control(type='text', ng-model="modalCtrl.institution.company")
    .form-group.row
      .col-md-12
        label Nível:
        select.form-control(ng-model="modalCtrl.institution.level"
                            ,ng-options="level | translate for level in modalCtrl.allLevels")
          option(value='') -- selecione um nível --
          
    .form-group.row
      .col-md-12
        label Cidade:
        input.form-control(type='text', ng-model="modalCtrl.institution.city")
    .form-group(ng-repeat="mentor in modalCtrl.institution.mentors track by mentor.id")
      .form-group.row
        .col-md-12
          label Mentor - Nome:
          input.form-control(type='text', ng-model="mentor.name")
      .form-group.row
        .col-md-12
          label Mentor - E-mail:
          input.form-control(type='text', ng-model="mentor.username")
      .form-group.row
        .col-md-12
          label Mentor - Senha:
          md-checkbox.md-primary(md-no-ink='', aria-label='Checkbox No Ink', ng-model='modalCtrl.checkboxPassword')
            | mostrar senha
          input.form-control(type='{{modalCtrl.showPassword[modalCtrl.checkboxPassword]}}', ng-model="mentor.password", placeholder="senha")
  .modal-footer
    button#btn-todo.btn.btn-primary.btn-md(ng-click="modalCtrl.saveInstitution(modalCtrl.institution)") salvar
    button#btn-todo.btn.btn-default.btn-md(ng-click="modalCtrl.closeModal()") cancelar
