.botton-new
  margin: 10px
  float: right

.botton-switch
  margin: auto

.aligner
  display: flex
  align-items: center
  justify-content: center

.aligner-item
  max-width: 50%
  display: flex
  justify-content: center

.ico-large
  font-size: 2em
