.row
  & .col-xs-12
    margin: 5px 0px;
    & button
      margin: 0px 2.5px;

.botton-switch
  margin: auto;

.aligner
  display: flex;
  align-items: center;
  justify-content: center;

.aligner-item
  display: flex;
  justify-content: center;

.ico-large
  font-size: 2em;

.panel-auto
  overflow: auto;
  height: auto;

.space-between
  display: flex;
  justify-content: space-between;

.xs-space-between
  @media (max-width: 425px)
    display: flex;
    justify-content: space-between;

.space-around
  display: flex;
  justify-content: space-around;

.border-top
  border-top: 1px solid #eeeeee

.border-top-bottom
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #b0b0b0;

.align-center
  align-items: center;
  margin: 10px 0 10px 0;
  padding: 5px 0 5px 0;

.card
  min-height: 325px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

.thumbnail
  .text
    padding: 9px 9px 0px 9px;

    p
      margin: 0;

  @media (max-width: 1024px)
    height: 100%;

.input-group
  & > .input-group-addon
    border-right: 1px solid #ccc;
    background-color: rgb(250,250,250);

.flex-direction
  flex-direction: row;
  @media (max-width: 425px)
    flex-direction: column;

.main-area
  overflow-x: auto;

.main-area
  & .card
    & .text
      & > .max-text
        height: 30px;
        overflow: hidden;

#dashboard
#report
  max-height: 85vh;
  @media (max-width: 1024px)
    max-height: 91vh;
  @media (max-width: 768px)
    max-height: 80vh;
  @media (max-width: 425px)
    max-height: 75vh;
  @media (max-width: 375px)
    max-height: 61vh;
  @media (max-width: 320px)
    max-height: 67vh;

#main-area
  max-height: 84vh;
  @media (max-width: 1024px)
    max-height: 92vh;
  @media (max-width: 768px)
    max-height: 89vh;
  @media (max-width: 425px)
    max-height: 85vh;
  @media (max-width: 375px)
    max-height: 75vh;
  @media (max-width: 320px)
    max-height: 81vh;
