section
  table.table.table-hover
    thead
      tr
        th Id
        th Descrição
        th Ativo
    tbody
      tr(ng-repeat="theme in themes")
        td {{theme.id}}
        td {{theme.description}}
        td {{theme.active}}
          //label#btn-todo.btn.btn-primary.btn-xs(ng-click="adminCtrl.openModal()") adiconar
