.section.form-question
  .form-group.row
    .col-md-12
      label Competência
      select.form-control(ng-model="modalCtrl.skillSelected", ng-options="skill as skill.name for skill in modalCtrl.skillsOptions")
        
  .form-group.row
    .col-md-8
      label Alternativa A:
      input.form-control(type='text') 
    .col-md-4
      label Peso
      input.form-control(type='number')

  .form-group.row
    .col-md-8
      label Alternativa B:
      input.form-control(type='text') 
    .col-md-4
      label Peso
      input.form-control(type='number')
        
  .form-group.row
    .col-md-8
      label Alternativa C:
      input.form-control(type='text') 
    .col-md-4
      label Peso
      input.form-control(type='number')
        
  .form-group.row
    .col-md-8
      label Alternativa D:
      input.form-control(type='text') 
    .col-md-4
      label Peso
      input.form-control(type='number')
        
  button#btn-todo.btn.btn-primary.btn-md(ng-click="modalCtrl.save()") salvar
  button#btn-todo.btn.btn-default.btn-md(ng-click="modalCtrl.cancel()") cancelar
