.table-thead
  background-color: #3782c4;
  color: #fff;

.table-top
  margin-top: 15px;

.txt-thead
  width: 75%;

.tbody-scroll
  overflow-y: auto;
  position: absolute;
  height: 100%;

#students-table
  & > .tbody-scroll
    min-height: 69vh;

#report-table
  & > .tbody-scroll
    min-height: 77vh;

.tr-scroll
  width: 100%;
  display: inline-table;
  table-layout: fixed;

td
th
  text-align: center;

.table
  > thead
    > tr
      > th
        padding: 0px 5px

main
  & > .row
    & > table
      & > tbody
        & > tr
          background-color: #fafafa

.menu-chidren
  background-color: #f0f8ff;
  padding-left: 30px !important;

.ico-sidebar
  padding-right: 10px
  font-size: 1.2 em

.form-control
  border-radius: 2px;

.form-control[disabled]
  background-color: rgba(0, 0, 0, 0.12);

.border-bottom
  border-bottom: 1px solid;
  border-bottom-color: #30a5ff;
  border-bottom-style: groove;

.th-scroll, .td-scroll
  min-width: 200px;

.check-ok
  text-align: center;
  color: #22a722;
  font-size: 20px;

.check-not-ok
  text-align: center;
  color: rgb(221,44,0);
  font-size: 20px;

.btn-success
  background-color: #22a722;
  border-color: #22a722;
