.table-thead
  background-color: cadetblue;
  color: #fff;

.table-top
  margin-top: 15px;

.txt-thead
  width: 75%;

.menu-chidren
  background-color: #f0f8ff;
  padding-left: 30px !important;

.ico-sidebar
  padding-right: 10px
  font-size: 1.2 em
