.table-thead
  background-color: cadetblue;
  color: #fff;

.table-top
  margin-top: 15px;

.txt-thead
  width: 75%;

.menu-chidren
  background-color: #f0f8ff;
  padding-left: 30px !important;

.ico-sidebar
  padding-right: 10px
  font-size: 1.2 em

.form-control[disabled]
  background-color: rgba(0, 0, 0, 0.12);

.border-bottom
  border-bottom: solid;
  border-bottom-color: #30a5ff;
  border-bottom-style: groove;

.th-scroll, .td-scroll
  min-width: 200px;

.check-ok
  text-align: center;
  color: #22a722;
  font-size: 20px;

.check-not-ok
  text-align: center;
  color: rgb(221,44,0);
  font-size: 20px;

.btn-success
  background-color: #22a722;
  border-color: #22a722;
