
<section>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">Meus Dados</div>
      <div class="panel-body full-height">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="input-group"><span class="input-group-addon">Nome</span>
              <input type="text" ng-model="::studentProfileCtrl.user.name" readonly class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="input-group"><span class="input-group-addon">RA</span>
              <input type="text" ng-model="::studentProfileCtrl.user.ra" readonly class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="input-group"><span class="input-group-addon">Telefone</span>
              <input type="text" ng-model="::studentProfileCtrl.user.phone" ui-mask="(99) 9999-9999" readonly class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="input-group"><span class="input-group-addon">E-mail</span>
              <input type="text" ng-model="::studentProfileCtrl.user.username" readonly class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="input-group"><span class="input-group-addon">Senha</span>
              <input type="{{ studentProfileCtrl.showPassword[studentProfileCtrl.checkboxPassword] }}" ng-model="studentProfileCtrl.user.password" placeholder="nova senha" class="form-control"><span class="input-group-btn">
                <button ng-click="studentProfileCtrl.checkboxPassword = !studentProfileCtrl.checkboxPassword" class="btn btn-default"><i class="fa fa-eye"></i></button>
                <button ng-disabled="!studentProfileCtrl.user.password" ng-click="studentProfileCtrl.updatePassword(studentProfileCtrl.user)" class="btn btn-primary">salvar</button></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Meu Curso</div>
      <div class="panel-body full-height">
        <div class="row">
          <div class="col-xs-12 col-md-2">
            <div class="input-group"><span class="input-group-addon">Código</span>
              <input type="text" ng-model="::studentProfileCtrl.user.course.code" readonly class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-md-7">
            <div class="input-group"><span class="input-group-addon">Curso</span>
              <input type="text" ng-model="::studentProfileCtrl.user.course.name" readonly class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="input-group"><span class="input-group-addon">Período</span>
              <input type="text" ng-model="::studentProfileCtrl.user.course.period" readonly class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Minha Instituição</div>
      <div class="panel-body full-height">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="input-group"><span class="input-group-addon">Código</span>
              <input type="text" ng-model="::studentProfileCtrl.user.institution.code" readonly class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-md-9">
            <div class="input-group"><span class="input-group-addon">Razão Social</span>
              <input type="text" ng-model="::studentProfileCtrl.user.institution.company" readonly class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="input-group"><span class="input-group-addon">CNPJ</span>
              <input type="text" ng-model="::studentProfileCtrl.user.institution.cnpj" ui-mask="99.999.999/9999-99" readonly class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-md-9">
            <div class="input-group"><span class="input-group-addon">Cidade</span>
              <input type="text" ng-model="::studentProfileCtrl.user.institution.city" readonly class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 xs-space-between">
        <button ui-sref="^.result" ng-if="studentProfileCtrl.user.completed" class="btn btn-primary"><i class="fa fa-gamepad ico-sidebar"></i>Meu Resultado</button>
        <button ui-sref="^.game" class="btn btn-primary"><i class="fa fa-gamepad ico-sidebar"></i>Jogo</button>
      </div>
    </div>
  </div>
</section>