audio#over
  source(src="assets/audio/button-40.wav")
  source(src="assets/audio/button-40.mp3")
.screen-background#tela(ng-style="gameCtrl.background")

  #options.option-close(ng-show="gameCtrl.history[gameCtrl.index].question != null")
    .alternative(ng-repeat="alternative in gameCtrl.history[gameCtrl.index].question.alternatives track by $index",
                 ng-click="gameCtrl.sendAnswer(alternative)", ng-mouseover="gameCtrl.playhover()")
      span(ng-bind="alternative.description")
  .textbox
    .whotalks
    #texto {{gameCtrl.history[gameCtrl.index].text}}

  #prosseguir(ng-class="gameCtrl.active", ng-click="gameCtrl.nextScene()")
