article.container
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading
        .panel-body
          .col-xs-12
            .aligner
              h2 Não há nenhum jogo ativo no momento.
            .aligner
              h3 Tente mais tarde.
