.section
  .modal-header
  .modal-body
    .form-group.row.file-border
      .col-md-8
        span(ng-bind='modalCtrl.file.filename')
      .col-md-4.btn-excel
        label#btn-todo.btn.btn-primary.btn-md
          input(type='file', ng-model='modalCtrl.file', name='file', base-sixty-four-input='', required='', maxsize='5000', accept='.xlsx')
          i.fa.fa-cloud-upload
          |   Escolher excel
  .modal-footer
    button#btn-todo.btn.btn-primary.btn-md(ng-click="modalCtrl.sendFile(modalCtrl.file)") salvar
    button#btn-todo.btn.btn-default.btn-md(ng-click="modalCtrl.closeModal()") cancelar
