.form-modal
  margin: 20px

.option-area
  padding: 10px

.file-border
  border: #e9ecf2
  border-style: solid
  border-width: 3px
  padding: 5px
  margin: 5px

.btn-excel
  padding: 0px
  display: flex
  justify-content: flex-end

input[type="file"]
  display: none
