
<section>
  <date-range-filter start-date="mentorDashCtrl.filter.startDate" end-date="mentorDashCtrl.filter.endDate" search="mentorDashCtrl.search()"></date-range-filter>
  <div ng-if="mentorDashCtrl.courses.length &gt; 0" class="row">
    <div class="col-lg-8">
      <div class="row">
        <div ng-repeat="course in mentorDashCtrl.courses" class="col-lg-3 col-md-4 col-xs-6">
          <div class="panel panel-default">
            <div class="panel-body panel-radar">
              <canvas id="meu-chart" width="400" height="400" chart-data="course.values" chart-labels="mentorDashCtrl.labels" chart-options="mentorDashCtrl.options" class="chart chart-pie"></canvas>
            </div>
            <div style="text-align: center" class="panel-footer">{{course.code}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">Legenda</div>
        <div class="panel-body panel-radar">
          <h5 ng-repeat="course in mentorDashCtrl.courses">
            <p>{{course.code}} - {{course.name}}</p>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="mentorDashCtrl.courses.length == 0" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="alert alert-info">
        <h4>Nenhum resultado encontrado.</h4>
      </div>
    </div>
  </div>
</section>