section
  .row.aligner
    .col-md-1.aligner-item
      i.fa.fa-info-circle.ico-large(uib-tooltip="{{scnCtrl.info_tooltip}}", tooltip-placement="bottom-right")
    .col-md-11
      label#btn-todo.btn.btn-success.btn-md.botton-new(ng-click="scnCtrl.openSceneModal()") novo
      label#btn-todo.btn.btn-success.btn-md.botton-new(ng-click="scnCtrl.updateIndexScenes(scnCtrl.allScenes)") salvar alterações
  table.table.table-hover
    thead
      tr.table-thead
        th.txt-thead Texto
        th Questão
        th Ação
    tbody(ui-sortable ng-model="scnCtrl.allScenes")
      tr(ng-repeat="scene in scnCtrl.allScenes track by $index")
        td {{scene.text}}
        td 
          label#btn-todo.btn.btn-primary.btn-xs(ng-show="!scene.question", ng-click="scnCtrl.openQuestionModal(scene)") adiconar
          label#btn-todo.btn.btn-info.btn-xs(ng-show="scene.question", ng-click="scnCtrl.openQuestionModal(scene)") editar
          label#btn-todo.btn.btn-info.btn-xs(ng-show="scene.question", ng-click="scnCtrl.deleteQuestion(scene.question.id)") excluir
        td
          button#btn-todo.btn.btn-info.btn-xs(ng-click="scnCtrl.openSceneModal(scene)") editar
          button#btn-todo.btn.btn-default.btn-xs(ng-click="scnCtrl.deleteScene(scene.id)") excluir
