.section
  .modal-header
  .modal-body
    .form-group.row
      .col-md-12
        label Texto:
        input.form-control(type='text', ng-model="modalCtrl.scene.text")
    .form-group.row
      .col-md-12
        label Imagem:
        label#btn-todo.btn.btn-primary.btn-xs
          input(type='file', ng-model='modalCtrl.scene.background', name='file', base-sixty-four-input='', required='', maxsize='500', accept='image/*')
          i.fa.fa-cloud-upload
          |   Escolher imagem
    .form-group.row
      .col-md-12
        span(ng-bind='modalCtrl.scene.background.filename')
  .modal-footer
    button#btn-todo.btn.btn-primary.btn-md(ng-click="modalCtrl.saveScene(modalCtrl.scene, null)") salvar
    button#btn-todo.btn.btn-default.btn-md(ng-click="modalCtrl.closeModal()") cancelar
