nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container-fluid
    .navbar-header().row
      .col-xs-2(ng-if="vm.show_menu")
        button.navbar-toggle.collapsed(type='button')
          ul
            span(uib-dropdown='', on-toggle='toggled(open)')
              a#simple-dropdown(href='', uib-dropdown-toggle='')
                i.fa.fa-bars.ico-sidebar
              ul(uib-dropdown-menu='', aria-labelledby='simple-dropdown')
                li
                  a(href="")
                    i.fa.fa-user-o.ico-sidebar
                    | Competencias
      .col-lg-6.col-md-7.col-xs-5
        a
          .logo-institution.navbar-brand
            span(ng-bind="vm.label_cps")
      .col-lg-6.col-md-5.col-xs-5
        ul.user-menu.user-ico
          span(uib-dropdown='', on-toggle='toggled(open)')
            a#simple-dropdown(href='', uib-dropdown-toggle='')
              i.fa.fa-user-circle-o.ico-sidebar
              | {{vm.user.name}}
              .caret
            ul.dropdown-menu.menu-options(uib-dropdown-menu='', aria-labelledby='simple-dropdown')
              li
                a(href="", ng-click="")
                  i.fa.fa-info-circle.ico-sidebar
                  | Sobre
              li
                a(href="", ng-click="vm.details()")
                  i.fa.fa-user-o.ico-sidebar
                  | Perfil
              li
                a(href="", ng-click="vm.logout()")
                  i.fa.fa-sign-out.ico-sidebar
                  | Sair
