nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container-fluid
    .navbar-header.row.aligner
      .col-xs-2.hidden-sm.hidden-md.hidden-lg(ng-if="vm.showMenu")
        menu-navbar
      .col-sm-5.col-md-7.col-lg-6.hidden-xs
        a
          .logo-institution.navbar-brand
            span(ng-bind="::vm.labelCentroPaulaSouza")
      .col-xs-10.col-sm-7.col-md-5.col-lg-6
        ul.user-menu.user-ico
          span(uib-dropdown="", on-toggle="toggled(open)")
            a#simple-dropdown(href="", uib-dropdown-toggle="")
              i.fa.fa-user-circle-o.ico-sidebar
              .text-ellipsis(ng-bind="::vm.user.name")
              .caret
            ul.dropdown-menu.menu-options(uib-dropdown-menu="", aria-labelledby="simple-dropdown")
              li
                a(href="", ng-click="vm.goPage('about')")
                  i.fa.fa-info-circle.ico-sidebar
                  | Sobre
              li
                a(href="", ng-click="vm.goPage('profile')")
                  i.fa.fa-user-o.ico-sidebar
                  | Perfil
              li
                a(href="", ng-click="vm.logout()")
                  i.fa.fa-sign-out.ico-sidebar
                  | Sair
