section
  label#btn-todo.btn.btn-success.btn-md.botton-new(ng-click="gthCtrl.openModal()") novo
  table.table.table-hover
    thead
      tr
        th Id
        th Descrição
        th Cenas
        th Ativo
    tbody
      tr(ng-repeat="theme in gthCtrl.allThemes", ngclick="gthCtrl")
        td {{theme.id}}
        td {{theme.description}}
        td
          label#btn-todo.btn.btn-info.btn-xs(ui-sref="admin.scenes({themeId: theme.id})") editar
        td
          md-switch.md-secondary.botton-switch(ng-model='theme.active', aria-label="Atualizar")
  label#btn-todo.btn.btn-primary.btn-md.botton-new(ng-click="gthCtrl.updateThemes(gthCtrl.allThemes)") salvar alterações
