#sidebar-collapse.col-sm-3.col-lg-2.sidebar
  ul.nav.menu
    li(ng-click="sb.isCollapsed = !sb.isCollapsed; sb.changeClass('dashboard')", ng-class="sb.ngClass.dashboard")
      a
        svg.glyph.stroked.dashboard-dial
        |  Dashboard
    div(uib-collapse='sb.isCollapsed')
      ul.nav.menu
        li
          a.menu-chidren
            svg.glyph.stroked.line-graph
            |  Grafico 1
        li
          a.menu-chidren
            svg.glyph.stroked.line-graph
            |  Grafico 2
    li(ng-class='sb.ngClass.institutions', ng-click="sb.changeClass('institutions')")
      a
        svg.glyph.stroked.calendar
        |  Instituições
    li(ng-class='sb.ngClass.themes', ng-click="sb.changeClass('themes')")
      a
        svg.glyph.stroked.line-graph
        |  Temas
    li(ng-class='sb.ngClass.skills', ng-click="sb.changeClass('skills')")
      a
        svg.glyph.stroked.table
        |  Competências
    li(ng-class='sb.ngClass.functionality')
      a
        svg.glyph.stroked.pencil
        |  Funcionalidade
