#sidebar-collapse.col-sm-3.col-lg-2.sidebar
  ul.nav.menu
    li(ng-class="sb.ngClass.dashboard", ng-click="sb.isCollapsed = !sb.isCollapsed; sb.changeClass('dashboard')")
      a
        i.fa.fa-tachometer.ico-sidebar
        |  Dashboard
    div(uib-collapse='sb.isCollapsed')
      ul.nav.menu
        li
          a.menu-chidren
            i.fa.fa-line-chart.ico-sidebar
            | Alunos X Curso
        li
          a.menu-chidren
            i.fa.fa-pie-chart.ico-sidebar
            | Grafico 2
    li(ng-class="sb.ngClass.students", ng-click="sb.changeClass('students')")
      a
        i.fa.fa-users.ico-sidebar
        |  Alunos
    li(ng-class="sb.ngClass.courses", ng-click="sb.changeClass('courses')")
      a(ui-sref="mentor.courses")
        i.fa.fa-graduation-cap.ico-sidebar
        |  Cursos
    li(ng-class="sb.ngClass.theme", ng-click="sb.changeClass('theme')")
      a
        i.fa.fa-paint-brush.ico-sidebar
        |  Tema de Jogo
    li(ng-class="sb.ngClass.progress", ng-click="sb.changeClass('progress')")
      a
        i.fa.fa-history.ico-sidebar
        |  Andamento dos alunos
