section
  date-range-filter(start-date="mentorDashCtrl.filter.startDate", end-date="mentorDashCtrl.filter.endDate", search="mentorDashCtrl.search()")
  .row
    .col-lg-8
      .row
        .col-lg-3.col-md-4.col-xs-6(ng-repeat="course in mentorDashCtrl.courses")
          .panel.panel-default
            .panel-body.panel-radar
              canvas#meu-chart.chart.chart-pie(width="400", height="400", chart-data="course.values", chart-labels="mentorDashCtrl.labels", chart-options="mentorDashCtrl.options")
            .panel-footer(style="text-align: center") {{course.code}}
    .col-lg-4
      .panel.panel-default
        .panel-heading Legenda
        .panel-body.panel-radar
          h5(ng-repeat="course in mentorDashCtrl.courses")
            p {{course.code}} - {{course.name}}
