section
  date-range-filter(start-date="mentorDashCtrl.filter.startDate", end-date="mentorDashCtrl.filter.endDate", search="mentorDashCtrl.search()")
  #dashboard.container-fluid.main-area
    .row(ng-if="mentorDashCtrl.courses.length > 0")
      .col-xs-12
        .panel
          .panel-body.full-height
            .row
              .col-md-3(ng-repeat="course in mentorDashCtrl.courses")
                canvas#meu-chart.chart.chart-pie(width="900", height="450", chart-data="course.values", chart-labels="mentorDashCtrl.labels", chart-options="mentorDashCtrl.options")
                div
                  h5(style="text-align: center") {{::course.code}}
    .row(ng-if="mentorDashCtrl.courses.length > 0")
      .col-xs-12
        .panel.panel-default
          .panel-heading Legenda
          .panel-body.full-height
            h5(ng-repeat="course in mentorDashCtrl.courses")
              span {{::course.code}} - {{::course.name}}
    
    .row(ng-if="mentorDashCtrl.courses.length == 0")
      .col-xs-12
        .alert.alert-info
          h4 Nenhum resultado encontrado.
