section
  .row
    .col-lg-8
      .col-lg-3.col-md-2.col-xs-6(ng-repeat="obj in mentorDashCtrl.array")
        .panel.panel-default
          .panel-body.panel-radar
            canvas#doughnut.chart.chart-doughnut(chart-data="obj.values", chart-labels="mentorDashCtrl.labels")
          .panel-footer(style="text-align: center") {{obj.curso}}
    .col-lg-4
      .panel.panel-default
        .panel-heading Legenda
        .panel-body.panel-radar
          h5(ng-repeat="course in mentorDashCtrl.courses")
            p {{course.code}} - {{course.name}}
