.col-xs-6.col-md-2(ng-repeat="obj in mentorDashCtrl.array")
  .panel.panel-default
    .panel-body.panel-radar
      canvas#doughnut.chart.chart-doughnut(chart-data="obj.values", chart-labels="mentorDashCtrl.labels")
    .panel-footer {{obj.curso}}
