
<section>
  <date-range-filter start-date="admDashCtrl.filter.startDate" end-date="admDashCtrl.filter.endDate" search="admDashCtrl.search()"></date-range-filter>
  <div id="dashboard" class="row main-area">
    <div class="col-xs-12 col-lg-6">
      <div ng-if="admDashCtrl.hasResult.etecs" class="panel panel-default">
        <div class="panel-heading">Etecs</div>
        <div class="panel-body">
          <div class="row aligner-item">
            <div class="col-xs-9 col-sm-6 col-md-4 col-lg-6">
              <canvas id="pie" chart-data="admDashCtrl.indicator.etecs.values" chart-labels="admDashCtrl.indicator.labels" chart-options="admDashCtrl.indicator.options" class="chart chart-pie"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!admDashCtrl.hasResult.etecs" class="panel panel-default">
        <div style="text-align: center" class="panel-heading">Nenhum resultado</div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div ng-if="admDashCtrl.hasResult.fatecs" class="panel panel-default">
        <div class="panel-heading">Fatecs</div>
        <div class="panel-body">
          <div class="row aligner-item">
            <div class="col-xs-9 col-sm-6 col-md-4 col-lg-6">
              <canvas id="pie" chart-data="admDashCtrl.indicator.fatecs.values" chart-labels="admDashCtrl.indicator.labels" chart-options="admDashCtrl.indicator.options" class="chart chart-pie"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!admDashCtrl.hasResult.fatecs" class="panel panel-default">
        <div style="text-align: center" class="panel-heading">Nenhum resultado</div>
      </div>
    </div>
  </div>
</section>