
<section>
  <div style="display: flex; justify-content: space-between" class="row">
    <div style="justify-content: flex-start;" class="col-lg-6 button-new"><i uib-tooltip="{{'SCENE_MESSAGE' | translate}}" tooltip-placement="bottom-right" class="fa fa-info-circle ico-large"></i></div>
    <div class="col-lg-6 button-new">
      <label ng-click="scnCtrl.openSceneModal()" class="btn btn-primary btn-md">novo</label>
      <label ng-click="scnCtrl.updateIndexScenes(scnCtrl.allScenes)" class="btn btn-primary btn-md">salvar alterações</label>
    </div>
  </div>
  <div ui-sortable ng-model="scnCtrl.allScenes" class="row card-list-content">
    <div ng-repeat="scene in scnCtrl.allScenes track by scene.id" class="col-sm-6 col-md-3">
      <div class="thumbnail card"><img ng-src="{{scene.background.filename}}" onerror="this.src='assets/images/image_unavailable.png'" alt="{{scene.background.filename}}">
        <div class="text">
          <p ng-if="scene.text.length &gt; 80">{{scene.text | limitTo:80}} ...</p>
          <p ng-if="scene.text.length &lt;= 80">{{scene.text}}</p>
        </div>
        <div style="padding: 5px;">
          <div class="space-between align-center border-top-bottom"><i>Questão</i>
            <div ng-show="!scene.question"><a ng-click="scnCtrl.openQuestionModal(scene)" class="btn btn-primary btn-xs">adicionar</a></div>
            <div ng-show="scene.question"><a ng-click="scnCtrl.openQuestionModal(scene)" class="btn btn-primary btn-xs">editar</a><a style="margin-left: 5px;" ng-click="scnCtrl.deleteQuestion(scene.id)" class="btn btn-danger btn-xs">excluir</a></div>
          </div>
          <div class="space-between"><a ng-click="scnCtrl.openSceneModal(scene)" class="btn btn-primary btn-xs">editar</a><a ng-click="scnCtrl.deleteScene(scene.id)" class="btn btn-danger btn-xs">excluir</a></div>
        </div>
      </div>
    </div>
  </div>
</section>