section
  article.login-panel
    .panel.panel-default
      .login-header
        img(ng-src="assets/images/ceeteps_450x84.png")
      .login-body
        form(role='form')
          fieldset
            .form-group
              input.form-control(ng-model='loginCtrl.userLogin.username', placeholder='E-mail', name='email', type='email', autofocus='', required='')
            .form-group
              input.form-control(ng-model='loginCtrl.userLogin.password', placeholder='Password', name='password', type='password', value='', required='')
            .checkbox
              label
                input(name='remember', type='checkbox', value='Remember Me')
                | Remember Me
            input.btn.btn-primary(href='', ng-click='loginCtrl.login(loginCtrl.userLogin);', type='submit', value='Entrar')
