.main-login
  display: flex;
  justify-content: center;

.login-panel
  @media (max-width: 568px)
    width: 100%

  @media (mix-width: 640px)
    width: 60%

  width: 40%
  padding: 10px
  margin-left: auto
  margin-right: auto

.login-header
  padding: 20px

.login-body
  padding: 15px 25px

img
  width: 100%
