section.main-login
  .col-lg-12.col-md-12.col-xs-12
    article.login-panel
      .panel.panel-default
        .login-header
          img(ng-src="assets/images/ceeteps_450x84.png")
        .login-body
          form(role='form')
            fieldset
              .form-group
                input.form-control(ng-model='loginCtrl.userLogin.username', placeholder='E-mail', name='email', type='email', autofocus='', required='')
              .form-group
                input.form-control(ng-model='loginCtrl.userLogin.password', placeholder='Password', name='password', type='password', value='', required='' ng-enter="loginCtrl.login(loginCtrl.userLogin)")
              .checkbox
                label
                  input(name='remember', type='checkbox', value='Remember Me')
                  | Remember Me
              label#btn-todo.btn.btn-primary(ng-click="loginCtrl.login(loginCtrl.userLogin)")
                i.fa.fa-sign-in.ico-sidebar
                | Entrar
