table#report-table.table.table-hover.table-striped.hidden-xs
  thead.table-thead
    tr
      th
        label Nome
      th(style="width: 20%")
        label RA
      th(style="width: 20%")
        label Resultado
  tbody.tbody-scroll(lazy-load="reportCtrl.loadMoreStudents()")
    tr.tr-scroll(ng-repeat="student in reportCtrl.students track by $index")
      td(ng-bind="student.name")
      td(style="width: 20%")(ng-bind="student.ra")
      td(style="width: 20%")
        label.btn.btn-info.btn-xs(ng-click="reportCtrl.studentResult(student)") resultado
