.row.center-align.date-range-direction.button-new
  .col-xs-12.col-sm-6.col-md-6.col-lg-6
    .input-group
      span.input-group-addon De
      input.form-control(type="month", ng-model="startDate")
  .col-xs-12.col-sm-6.col-md-5
    .input-group
      span.input-group-addon Até
      input.form-control(type="month", ng-model="endDate")
  .col-xs-12.col-sm-6.col-md-2.aligner
    label.btn.btn-primary.btn-md(ng-click="search()")
      i.fa.fa-search.ico-sidebar
      | pesquisar
