.row.flex-direction
  .visible-xs-block
    .col-xs-12
      .input-group
        span.input-group-addon De
        input.form-control(type="month", ng-model="startDate")
    .col-xs-12
      .input-group
        span.input-group-addon Até
        input.form-control(type="month", ng-model="endDate")
    .col-xs-12
      label.btn.btn-primary(ng-click="search()")
        i.fa.fa-search.ico-sidebar
        | pesquisar
  
  .hidden-xs
    .col-sm-12(style="margin-top: 10px")
      .input-group
        span.input-group-addon De
        input.form-control(type="month", ng-model="startDate")
        span.input-group-addon Até
        input.form-control(type="month", ng-model="endDate")
        span.input-group-btn(ng-click="search()")
          button.btn.btn-primary(type='button')
            i.fa.fa-search.ico-sidebar
