
<article class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="aligner">
              <h2>Não há nenhum jogo ativo no momento.</h2>
            </div>
            <div class="aligner">
              <h3>Tente mais tarde.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>