section
  date-range-filter(start-date="institutionCtrl.filter.startDate", end-date="institutionCtrl.filter.endDate", search="institutionCtrl.search()")
  #dashboard.row.main-area(ng-if="institutionCtrl.institutions.length > 0")
    .col-xs-12.col-sm-12.col-md-8.col-lg-8
      .panel.panel-default
        .panel-heading {{ ::institutionCtrl.institution.label }}
        .panel-body.full-height
          canvas#base.chart-horizontal-bar(chart-data='institutionCtrl.data', chart-labels='institutionCtrl.codes', chart-series="institutionCtrl.series", chart-options="institutionCtrl.options")
    .col-xs-12.col-sm-12.col-md-4.col-lg-4
      .panel.panel-default
        .panel-heading Legenda
        .panel-body.full-height
          h5(ng-repeat="institution in institutionCtrl.institutions") {{ ::institution.code }} - {{ ::institution.company }}
          
  .row(ng-if="institutionCtrl.institutions.length == 0")
    .col-xs-12.col-sm-12.col-md-12
      .alert.alert-info
        h4 Nenhum resultado encontrado.
