
<section>
  <div class="modal-header"></div>
  <div class="modal-body">
    <form name="fileForm">
      <div class="form-group row file-border">
        <div class="col-md-8"><span ng-bind="modalCtrl.file.filename"></span></div>
        <div class="col-md-4 btn-excel">
          <label type="button" class="btn btn-primary">
            <input type="file" ng-model="modalCtrl.file" name="file" required="" base-sixty-four-input="" maxsize="5000" accept=".xlsx"><i class="fa fa-cloud-upload"></i>  selecionar excel
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-12 space-between">
        <button ng-click="modalCtrl.downloadTemplate()" class="btn btn-default">baixar modelo</button>
        <div>
          <button ng-disabled="!fileForm.$valid" ng-click="modalCtrl.sendFile(modalCtrl.file)" class="btn btn-primary">salvar</button>
          <button ng-click="modalCtrl.closeModal()" class="btn btn-default">cancelar</button>
        </div>
      </div>
    </div>
  </div>
</section>