
<section>
  <div class="row">
    <label id="btn-todo" ng-click="gthCtrl.openModal()" class="btn btn-primary btn-md botton-new">novo</label>
  </div>
  <div class="row">
    <div ng-repeat="theme in gthCtrl.allThemes track by theme.id" class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">{{::theme.name}}</div>
        <div class="panel-body panel-auto aligner">
          <md-switch ng-model="theme.active" aria-label="Status" ng-change="gthCtrl.updateStatus(theme.id, theme.active)" class="md-primary botton-switch"></md-switch>
        </div>
        <div class="panel-footer">
          <label id="btn-todo" ui-sref="admin.scenes({themeId: theme.id})" class="btn btn-info btn-xs">cenas<span style="padding: 0 5px 0 5px" aria-hidden="true" class="fa fa-share-square-o"></span></label>
        </div>
      </div>
    </div>
  </div>
</section>