section
  label#btn-todo.btn.btn-primary.btn-md.botton-new(ng-click="crsCtrl.openCourseModal()") novo
  table.table.table-hover.table-striped
    thead
      tr.table-thead
        th(ng-repeat="head in crsCtrl.tableHead track by $index") {{head}}
    tbody
      tr(ng-repeat="course in crsCtrl.allCourses track by $index")
        td {{::course.code}}
        td {{::course.name}}
        td {{::course.period | translate}}
        td
          label#btn-todo.btn.btn-info.btn-xs(ng-click="crsCtrl.openCourseModal(course)") editar
