section
  table.table.table-hover.table-top
    thead
      tr.table-thead
        th Código
        th Descrição
        th Ativo
    tbody
      tr(ng-repeat="theme in theCtrl.allThemes track by theme.id", ng-show="!theCtrl.allThemes.length == 0")
        td {{::theme.id}}
        td {{::theme.description}}
        td
          md-switch.md-secondary.botton-switch(ng-model='theme.active', ng-click="theCtrl.setThemeCurrent(theme, $index)",
            aria-label="Atualizar")
      tr(ng-show="theCtrl.allThemes.length == 0")
        td NENHUM TEMA ATIVO
  label#btn-todo.btn.btn-primary.btn-md.botton-new(ng-click="theCtrl.updateThemeIdCurrent()") salvar alterações
