.row
  md-card
    md-card-content(style='padding: 0px')
      div(layout='row')
        h3.col-md-10 Estatisticas
        md-input-container.col-md-2(style='float: right;')
          label Cursos
          md-select(ng-model='stcCtrl.courseSelected')
            md-option(ng-value='course', ng-repeat='course in stcCtrl.allStudentsByCourses')
              | {{course.name}}
.row
  div(style='height: 305px; margin: 10px;')
    #carousel(uib-carousel='', active='active', interval='stcCtrl.myInterval', no-wrap='stcCtrl.noWrapSlides')
      div(uib-slide='', ng-repeat='slide in stcCtrl.slides track by slide.id', index='slide.id')
        | {{ stcCtrl.courseSelected.skills[slide.id].type }}
        .canvas-wrapper
          canvas#base.chart-horizontal-bar(chart-data='stcCtrl.courseSelected.skills[slide.id].values', chart-labels='stcCtrl.courseSelected.students')
